section{
    height: 650px;
}
.section_work{
    height: 500px;
}
.seciton_bottom{
    height: 500px;
}
body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 35px;
}
.purple_highlight{
    color: purple;
    font-size: 60px;
}

/*top_part*/
.half_width_text_01{
    width: 30%;
    float: left;
    margin-left: 5%;
    padding-left: 10%;
    padding-top: 2%;
}
.half_width_content_01{
    width: 40%;
    float: left;
    margin-right: 5%;
    padding-right: 10%;
}
.half_width_content_01 img{
    width: 100%;
}

/*middle_part*/
.half_width_text_02{
    width: 40%;
    float: left;
    padding-top: 12%;
}
.half_width_content_02{
    width: 40%;
    float: left;
    margin-left: 10%;
    padding-top: 3%;
}
.half_width_content_02 img{
    width: 85%;
}

/*bottom_part*/
.bottom_work_01{
    width: 23.3%;
    margin-left: 5%;
    padding-left: 5%;
    padding-right: 1.5%;
    padding-top: 3%;
    float: left;
}

.bottom_work_01 img{
    width: 100%;
}
.bottom_work_02{
    width: 23.3%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 3%;
    float: left;
}

.bottom_work_02 img{
    width: 100%;
}
.bottom_work_03{
    width: 23.3%;
    margin-right: 5%;
    padding-left: 1.5%;
    padding-right: 5%;
    padding-top: 3%;
    float: left;
}

.bottom_work_03 img{
    width: 100%;
}
.font_size{
    font-size: 30px;
}
.mail_button{
    font-size: 30px;
    font-weight: bold;
    padding: 5% 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background-image: linear-gradient(90deg, deeppink, rgb(216, 85, 216));
    text-decoration: none;
    color: white;
    border-radius: 5px;
}
.bottom{
    text-align: center;
}
.link_button{
    text-decoration: none;
    background-image: linear-gradient(45deg, deeppink, rgb(216, 85, 216));
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 10px 10px;
}